*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: bubble;
    src: url(../font/Awesome\ Possum\ Shine\ Demo.otf);
}

h1{
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 40px;
    
}

.espacio{
    width: 40px;
    height: 222px;
}

.boton{
    width: 500px;
    height: 300px;
    background: url(../image/eat.gif);
    margin: auto;
    padding: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

}
.btn{
    width: 500px;
    height: 271px;
    margin: auto;
    padding: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

}

.item{
    background-color: #1f54ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}

.titulo{
    align-self: center;
}
#pic-hover {
    position: relative;
    width: 300px;
    height: 300px;
    top: 60px;
    display: inline-block;
  }
  
  #gif-hover {
    position: relative;
    width: 300px;
    height: 300px;
    top: 60px;
    display: inline-block;
  }
  
  #hover {
    position: absolute;
    left: 50%;
    margin-left: -185px;
    top: 180px;
    width: 70px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-weight: bold;
  }
  
  #pic-click {
    position: relative;
    width: 300px;
    height: 300px;
    top: 60px;
    display: inline-block;
    margin-left: 5px;
  }
  
  #gif-click {
    position: relative;
    width: 300px;
    height: 300px;
    top: 60px;
    display: inline-block;
    margin-left: 5px;
  }
  
  #click {
    position: absolute;
    left: 50%;
    margin-left: 120px;
    top: 180px;
    width: 70px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-weight: bold;
  }
  
  .wrapper {
    display: flex;
    height: auto;
    justify-content: center;
  }